<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <title>Document</title>
</head>
<body>
  <div class = "form-container">
    <h2>
      Login
    </h2>
    <% flash.get('error').forEach(function (message) { %>
          <div class="card my-2" style="text-align: center;">
            <h3 style="color:red;"><%= message %></h3>
          </div>
        <% }) %>
    <form action="/postlogin" method="post">
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" id="username" name="username" placeholder="Enter your name" required autocomplete="on">
    </div>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="password">
    </div>
    <button type="submit" class="submit-btn">Login</button>
    </form>
    <p>Don't have a account?<a href="/signup">Signup</a></p>
  </div>
</body>
</html>